<a href="https://colab.research.google.com/github/mittyone/JSCCR-fStageII/blob/main/npj_Data_cleaning_JSCCR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('JSCCR.xlsx')

In [ ]:
columns_to_keep = ['gender','年齢','Approach','切除術式','中枢側郭清度','Pathology', 'pDepth', 'ly', 'v', 'CEA', 'Curability', 'fStage', 'LN number', 'DFS', 'Event', '生死_詳細-既存項目','Neoadjuvant', 'Adjuvant', 'Location', 'Obstruction']

df = df[columns_to_keep]

In [ ]:
df.to_excel("JSCCR.modified.xlsx")

In [ ]:
df = pd.read_excel('JSCCR.modified.xlsx')

In [ ]:
len(df)

16895

In [ ]:
df.head()

,Unnamed: 0,gender,年齢,Approach,切除術式,中枢側郭清度,Pathology,pDepth,ly,v,...,Curability,fStage,LN number,DFS,Event,生死_詳細-既存項目,Neoadjuvant,Adjuvant,Location,Obstruction
0,0,02_F,77.0,03_開腹,006_結腸部分切除,02_D2,03_中分化腺癌,02_pSM,1_ly0,1_v0,...,01_pCurA,02_Stage1,18,7.515400,1,NaN,0_なし,0_術後補助なし,05_T,9_不明
1,1,01_M,69.0,03_開腹,009_S状結腸切除,01_D1,03_中分化腺癌,02_pSM,1_ly0,1_v0,...,01_pCurA,02_Stage1,15,5.303217,1,NaN,0_なし,0_術後補助なし,07_S,9_不明
2,2,02_F,45.0,02_腹腔鏡+小開腹,009_S状結腸切除,01_D1,02_高分化腺癌,04_pSS/A,1_ly0,1_v0,...,01_pCurA,03_Stage2,9,7.304586,1,NaN,0_なし,0_術後補助なし,07_S,9_不明
3,3,02_F,65.0,03_開腹,007_結腸右半切除,03_D3,04_低分化腺癌,05_pSE/A2,1_ly0,1_v0,...,02_pCurB,06_Stage4,23,0.722793,2,2,0_なし,1_術後補助あり,04_A,9_不明
4,4,02_F,62.0,03_開腹,007_結腸右半切除,03_D3,02_高分化腺癌,04_pSS/A,1_ly0,1_v0,...,01_pCurA,03_Stage2,49,6.376454,2,NaN,0_なし,0_術後補助なし,04_A,3_2/3以下

In [ ]:
Pathology_dict = {'03_中分化腺癌': 'tub2', '02_高分化腺癌': 'tub1', '04_低分化腺癌': 'por', '05_粘液癌': 'muc', '00_腺癌（分化度不明）': 'undiff',
                  '04_低分化腺癌（por2）': 'por' , '01_乳頭腺癌': 'pap', '04_低分化腺癌（髄様）':'por'}
CEA_dict = {'01_Cutoff以下': '01_Below Cutoff', '02_Cutoff 4倍未満': '02_Less than 4 times Cutoff', '03_Cutoff 4倍以上': '03_4 times Cutoff or more'}
Neoadjuvant_dict = {'0_なし': 'negative', '1_あり': 'positive'}
Adjuvant_dict = {'0_術後補助なし': 'negative', '1_術後補助あり': 'positive'}
Obstruction_dict = {'9_不明': 'unknown', '3_2/3以下': 'below 2/3 circumferential', '2_1/2以下': 'below 1/2 circumferential', '5_全周': 'total circumferential', '4_亜全周': 'subtotal circumferential', '1_1/3以下': 'below 1/3 circumferential'}
operation_dict = {'009_S状結腸切除': 'sigmoidectomy', '007_結腸右半切除':'RHC', '005_回盲部切除': 'ileocecal resection', '014_低位前方切除': 'LAR',
                  '008_結腸左半切除': 'LHC', '006_結腸部分切除': 'Partial colectomy', '013_高位前方切除': 'HAR', '017_骨盤内蔵全摘術': 'PE',
                  '015_Hartmann':'015_Hartmann', '011_結腸全摘': 'total colectomy', '012_大腸全摘': 'total proctocolectomy', '016_直腸切断': 'APR',
                  '018_超低位前方切除':'super LAR','019_内括約筋切除':'ISR'}
Approach_dict = {'02_腹腔鏡+小開腹': 'laparoscopy + small incision', '03_開腹': 'open', '99_不明': 'unknown', '02_腹腔鏡単独': 'laparoscopy' , '02_腹腔鏡': 'laparoscopy' , '01_経肛門': 'peranal approach'}

df['Pathology'] = df['Pathology'].replace(Pathology_dict)
df['CEA'] = df['CEA'].replace(CEA_dict)
df['Neoadjuvant'] = df['Neoadjuvant'].replace(Neoadjuvant_dict)
df['Adjuvant'] = df['Adjuvant'].replace(Adjuvant_dict)
df['Obstruction'] = df['Obstruction'].replace(Obstruction_dict)
df['切除術式'] = df['切除術式'].replace(operation_dict)
df['Approach'] = df['Approach'].replace(Approach_dict)

In [ ]:
df = df.rename(columns={'中枢側郭清度': 'Dissection Level', '年齢': 'age', '切除術式': 'operation', '生死_詳細-既存項目':'Event_in_details',})

In [ ]:
df. head()

,Unnamed: 0,gender,age,Approach,operation,Dissection Level,Pathology,pDepth,ly,v,...,Curability,fStage,LN number,DFS,Event,Event_in_details,Neoadjuvant,Adjuvant,Location,Obstruction
0,0,02_F,77.0,open,Partial colectomy,02_D2,tub2,02_pSM,1_ly0,1_v0,...,01_pCurA,02_Stage1,18,7.515400,1,NaN,negative,negative,05_T,unknown
1,1,01_M,69.0,open,sigmoidectomy,01_D1,tub2,02_pSM,1_ly0,1_v0,...,01_pCurA,02_Stage1,15,5.303217,1,NaN,negative,negative,07_S,unknown
2,2,02_F,45.0,laparoscopy + small incision,sigmoidectomy,01_D1,tub1,04_pSS/A,1_ly0,1_v0,...,01_pCurA,03_Stage2,9,7.304586,1,NaN,negative,negative,07_S,unknown
3,3,02_F,65.0,open,RHC,03_D3,por,05_pSE/A2,1_ly0,1_v0,...,02_pCurB,06_Stage4,23,0.722793,2,2,negative,positive,04_A,unknown
4,4,02_F,62.0,open,RHC,03_D3,tub1,04_pSS/A,1_ly0,1_v0,...,01_pCurA,03_Stage2,49,6.376454,2,NaN,negative,negative,04_A,below 2/3 circumferential

In [ ]:
df["Pathology"].unique()

array(['tub2', 'tub1', 'por', 'muc', 'undiff', 'pap'], dtype=object)

In [ ]:
replace_values = {'tub2':2, 'tub1':1, 'por':3, 'muc':3, 'undiff':3, 'pap':1}

df['Pathology'] = df['Pathology'].replace(replace_values)

<ipython-input-12-0636449ad630>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Pathology'] = df['Pathology'].replace(replace_values)

In [ ]:
df["Pathology"].unique()

array([2, 1, 3])

In [ ]:
df["pDepth"].unique()

array(['02_pSM', '04_pSS/A', '05_pSE/A2', '03_pMP', '06_pSi/Ai', '01_pM'],
      dtype=object)

In [ ]:
replace_values1 = {'02_pSM':2, '04_pSS/A':4, '05_pSE/A2':5, '03_pMP':3, '06_pSi/Ai':6, '01_pM':1}


df['pDepth'] = df['pDepth'].replace(replace_values1)

<ipython-input-15-61445fa9d1a8>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['pDepth'] = df['pDepth'].replace(replace_values1)

In [ ]:
df["pDepth"].unique()

array([2, 4, 5, 3, 6, 1])

In [ ]:
df["ly"].unique()

array(['1_ly0', '3_ly2', '2_ly1', '4_ly3'], dtype=object)

In [ ]:

replace_values1 = {'1_ly0':1, '3_ly2':2, '2_ly1':2, '4_ly3':2}

df['ly'] = df['ly'].replace(replace_values1)

<ipython-input-18-40234024c86b>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['ly'] = df['ly'].replace(replace_values1)

In [ ]:
df["ly"].unique()

array([1, 2])

In [ ]:
df["v"].unique()

array(['1_v0', '3_v2', '2_v1', '4_v3'], dtype=object)

In [ ]:
replace_values1 = {'1_v0':1, '3_v2':2, '2_v1':2, '4_v3':2}

df['v'] = df['v'].replace(replace_values1)

<ipython-input-21-693d14bf30e0>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['v'] = df['v'].replace(replace_values1)

In [ ]:
df["v"].unique()

array([1, 2])

In [ ]:
df["CEA"].unique()

array(['01_Below Cutoff', '02_Less than 4 times Cutoff',
       '03_4 times Cutoff or more', nan], dtype=object)

In [ ]:
replace_values1 = {'01_Below Cutoff':1, '02_Less than 4 times Cutoff':2,'03_4 times Cutoff or more':2}

df['CEA'] = df['CEA'].replace(replace_values1)

<ipython-input-24-7e1584b4f342>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['CEA'] = df['CEA'].replace(replace_values1)

In [ ]:
df["CEA"].unique()

array([ 1.,  2., nan])

In [ ]:
df["Curability"].unique()

array(['01_pCurA', '02_pCurB', '03_pCurC'], dtype=object)

In [ ]:
replace_values1 = {'01_pCurA':1, '02_pCurB':2, '03_pCurC':3}

df['Curability'] = df['Curability'].replace(replace_values1)

<ipython-input-27-965e13f69083>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Curability'] = df['Curability'].replace(replace_values1)

In [ ]:
df["Curability"].unique()

array([1, 2, 3])

In [ ]:
df["fStage"].unique()

array(['02_Stage1', '03_Stage2', '06_Stage4', '05_Stage3b', '04_Stage3a',
       '01_Stage0'], dtype=object)

In [ ]:
replace_values1 = {'02_Stage1':1, '03_Stage2':2, '06_Stage4':4, '05_Stage3b':3, '04_Stage3a':3,
       '01_Stage0':0}

df['fStage'] = df['fStage'].replace(replace_values1)

<ipython-input-30-43894812a301>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['fStage'] = df['fStage'].replace(replace_values1)

In [ ]:
df["fStage"].unique()

array([1, 2, 4, 3, 0])

In [ ]:
df["Neoadjuvant"].unique()

array(['negative', 'positive'], dtype=object)

In [ ]:
replace_values = {'negative':0, 'positive':1}

df['Neoadjuvant'] = df['Neoadjuvant'].replace(replace_values)

<ipython-input-33-19ffb8767e4f>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Neoadjuvant'] = df['Neoadjuvant'].replace(replace_values)

In [ ]:
df["Neoadjuvant"].unique()

array([0, 1])

In [ ]:
df["Adjuvant"].unique()

array(['negative', 'positive'], dtype=object)

In [ ]:
replace_values = {'negative':0, 'positive':1}

df['Adjuvant'] = df['Adjuvant'].replace(replace_values)

<ipython-input-36-5a8fed724a3d>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Adjuvant'] = df['Adjuvant'].replace(replace_values)

In [ ]:
df["Adjuvant"].unique()

array([0, 1])

In [ ]:
df["Location"].unique()

array(['05_T', '07_S', '04_A', '03_C', '10_Rb', '09_Ra', '08_Rs', '06_D',
       '11_P', '02_V'], dtype=object)

In [ ]:
df["Obstruction"].unique()

array(['unknown', 'below 2/3 circumferential',
       'below 1/2 circumferential', 'below 1/3 circumferential',
       'total circumferential', 'subtotal circumferential'], dtype=object)

In [ ]:
replace_values = { 'unknown':99, 'below 2/3 circumferential':1,
       'below 1/2 circumferential':1, 'below 1/3 circumferential':1,
       'total circumferential':2, 'subtotal circumferential':2}

df['Obstruction'] = df['Obstruction'].replace(replace_values)

<ipython-input-40-e104cbfa6b31>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Obstruction'] = df['Obstruction'].replace(replace_values)

In [ ]:
df["Obstruction"].unique()

array([99,  1,  2])

In [ ]:
df = df[df['fStage'] == 2]

In [ ]:
len(df)

5458

In [ ]:
df = df[df['pDepth'].isin([4,5,6])]

In [ ]:
replace_values = {4:1, 5:2, 6:3}


df['pDepth'] = df['pDepth'].replace(replace_values)

In [ ]:
df['pDepth'].unique()

array([1, 3, 2])

In [ ]:
values_to_keep = ['05_T', '07_S', '04_A', '03_C', '08_Rs', '06_D', '02_V']

df = df[df['Location'].isin(values_to_keep)]

In [ ]:
replace_values = {'05_T':1, '07_S':2, '04_A':1, '03_C':1, '08_Rs':2, '06_D':2, '02_V':1}


df['Location'] = df['Location'].replace(replace_values)

<ipython-input-48-ad5478e99c6f>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Location'] = df['Location'].replace(replace_values)

In [ ]:
len(df)

4460

In [ ]:
# Find rows where DFS exceeds 5 and Event is 2, then change Event to 1
df.loc[(df['DFS'] > 5) & (df['Event'] == 2), 'Event'] = 1

#find all rows where DFS exceeds 5, then change DFS to 5
df.loc[df['DFS'] > 5, 'DFS'] = 5

In [ ]:
# # If 'LN numbers' is greater than or equal to 12, change it to 1, otherwise change it to 2
df['LN number'] = df['LN number'].apply(lambda x: 1 if x >= 12 else 2)

In [ ]:
df["Event"].unique()
#1: -,  2:  +


replace_values = {1:1, 2:2}

df['Event'] = df['Event'].replace(replace_values)

In [ ]:
df["Event"].unique()

array([1, 2])

In [ ]:
# 1. Modify Event_in_details
# Change value 2 to 1
df['Event_in_details'] = df['Event_in_details'].replace(2, 1)

# Change values 3, 4, 5 (e.g., 4_cancer death, 5_non-cancer death) to 3
df['Event_in_details'] = df['Event_in_details'].replace([3, 4, 5, '4_他癌死', '5_非癌死'], 3)

# 2. Create Event_caused_specific by copying the original Event column
df['Event_caused_specific'] = df['Event']

# For rows where Event is 2 and Event_in_details is 3, change Event_caused_specific to 1
condition_cs = (df['Event'] == 2) & (df['Event_in_details'] == 3)
df.loc[condition_cs, 'Event_caused_specific'] = 1

# For all other Event == 2 rows, leave the value as 2

# 3. Create Event_subdistribution by copying the original Event column
df['Event_subdistribution'] = df['Event']

# For rows where Event is 2 and Event_in_details is 3, change Event_subdistribution to 3
condition_sd = (df['Event'] == 2) & (df['Event_in_details'] == 3)
df.loc[condition_sd, 'Event_subdistribution'] = 3

In [ ]:
df = df[df['Curability'] == 1]
len(df)

4256

In [ ]:
df = df[df['Neoadjuvant'] == 0]
len(df)

4232

In [ ]:
df = df[df['Adjuvant'] == 0]
len(df)

3255

In [ ]:
df['operation'].unique()

array(['sigmoidectomy', 'RHC', 'ileocecal resection', 'LAR', 'LHC',
       'Partial colectomy', 'HAR', 'PE', '015_Hartmann',
       'total colectomy', 'total proctocolectomy', 'APR'], dtype=object)

In [ ]:
replace_values = {'Partial colectomy':1, 'sigmoidectomy':5, 'RHC':3, 'ileocecal resection':2, 'APR':9,
       'HAR':7, 'LAR':9, '015_Hartmann':6, 'LHC':4,
       'PE':9, 'total colectomy':9, 'sLAR':9, 'total proctocolectomy':9, 'ISR':9}

df['operation'] = df['operation'].replace(replace_values)
df['operation'].unique()

<ipython-input-59-2567347a1abc>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['operation'] = df['operation'].replace(replace_values)
<ipython-input-59-2567347a1abc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['operation'] = df['operation'].replace(replace_values)

array([5, 3, 2, 9, 4, 1, 7, 6])

In [ ]:
df = df[df['operation'].isin([1,2,3,4,5,6,7])]
len(df)

2887

In [ ]:

columns_to_remove = ['Neoadjuvant', 'Adjuvant', 'Curability', 'fStage']
df = df.drop(columns=columns_to_remove)

In [ ]:
df = df[~((df['CEA'] == 1) & (df['ly'] == 1) & (df['v'] == 1) & (df['pDepth'] == 1) &
          ((df['Pathology'] == 1) | (df['Pathology'] == 2)) & (df['LN number'] == 1) &
          (df['Obstruction'] == 1))]

len(df)

2769

In [ ]:
# Divide the data into three groups based on age
#Delete entries where the value is above 80
bins = [0, 65, 80, float('inf')]
labels = ['1', '2', '3']
df['age'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)
df = df[df['age'] != '3']

In [ ]:
len(df)

2208

In [ ]:
df['gender'].unique()

array(['02_F', '01_M'], dtype=object)

In [ ]:
replace_values = {'01_M':2, '02_F':1}


df['gender'] = df['gender'].replace(replace_values)
df['gender'].unique()

<ipython-input-66-a0ab759d354a>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'] = df['gender'].replace(replace_values)

array([1, 2])

In [ ]:
df['Approach'].unique()

array(['laparoscopy + small incision', 'open', 'unknown', 'laparoscopy',
       'peranal approach'], dtype=object)

In [ ]:
replace_values = {'open':2, 'laparoscopy + small incision':1, 'unknown':99, 'laparoscopy':1, 'laparoscopy':1, 'peranal approach':3}


df['Approach'] = df['Approach'].replace(replace_values)
df['Approach'].unique()

<ipython-input-68-8ec89ead8e79>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Approach'] = df['Approach'].replace(replace_values)

array([ 1,  2, 99,  3])

In [ ]:
df = df[df['Approach'].isin([1,2,99])]
len(df)

2168

In [ ]:
df['Dissection Level'].unique()

array(['01_D1', '03_D3', '02_D2'], dtype=object)

In [ ]:
replace_values = {'02_D2':2, '01_D1':3, '03_D3':1}

df['Dissection Level'] = df['Dissection Level'].replace(replace_values)
df['Dissection Level'].unique()

<ipython-input-71-163aa5257dfe>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Dissection Level'] = df['Dissection Level'].replace(replace_values)

array([3, 1, 2])

In [ ]:
# Store the columns you want to clean in a list
columns_to_clean = ['Pathology', 'pDepth', 'ly', 'v', 'CEA', 'LN number','gender','age','Dissection Level']

# Remove the missing values from the specified columns
df = df.dropna(subset=columns_to_clean)

In [ ]:
len(df)

1979

In [ ]:
df.to_excel("JSCCR fStageII CIF.xlsx")

In [ ]:
category_variables = ['gender', 'age', 'Approach', 'operation', 'Dissection Level',
                      'Pathology', 'pDepth', 'ly', 'v', 'CEA',
                       'LN number', 'Event', 'Location', 'Obstruction']

for variable in category_variables:
    # Event vs  category cross table
    cross_tab = pd.crosstab(df[variable], df['Event'], margins=True, margins_name='Total')

    # percentage
    cross_tab_percentage = cross_tab.div(cross_tab.loc['Total', :], axis=1).round(4) * 100

    # result
    print(f'--- {variable} vs Event ---')
    print('Count:')
    print(cross_tab)
    print('Percentage:')
    print(cross_tab_percentage)
    print('\n')

--- gender vs Event ---
Count:
Event      1    2  Total
gender
1        771  101    872
2        918  189   1107
Total   1689  290   1979
Percentage:
Event        1       2   Total
gender
1        45.65   34.83   44.06
2        54.35   65.17   55.94
Total   100.00  100.00  100.00


--- age vs Event ---
Count:
Event     1    2  Total
age
1       636   85    721
2      1053  205   1258
Total  1689  290   1979
Percentage:
Event       1       2   Total
age
1       37.66   29.31   36.43
2       62.34   70.69   63.57
Total  100.00  100.00  100.00


--- Approach vs Event ---
Count:
Event        1    2  Total
Approach
1          255   38    293
2         1360  243   1603
99          74    9     83
Total     1689  290   1979
Percentage:
Event          1       2   Total
Approach
1          15.10   13.10   14.81
2          80.52   83.79   81.00
99          4.38    3.10    4.19
Total     100.00  100.00  100.00


--- operation vs Event ---
Count:
Event         1    2  Total
operation
1           145   23    168
2           121   18    139
3           476   80    556
4           126   22    148
5           547  103    650
6            22   12     34
7           252   32    284
Total      1689  290   1979
Percentage:
Event           1       2   Total
operation
1            8.58    7.93    8.49
2            7.16    6.21    7.02
3           28.18   27.59   28.09
4            7.46    7.59    7.48
5           32.39   35.52   32.84
6            1.30    4.14    1.72
7           14.92   11.03   14.35
Total      100.00  100.00  100.00


--- Dissection Level vs Event ---
Count:
Event                1    2  Total
Dissection Level
1                 1057  158   1215
2                  520  110    630
3                  112   22    134
Total             1689  290   1979
Percentage:
Event                  1       2   Total
Dissection Level
1                  62.58   54.48   61.39
2                  30.79   37.93   31.83
3                   6.63    7.59    6.77
Total             100.00  100.00  100.00


--- Pathology vs Event ---
Count:
Event         1    2  Total
Pathology
1           813  136    949
2           774  142    916
3           102   12    114
Total      1689  290   1979
Percentage:
Event           1       2   Total
Pathology
1           48.13   46.90   47.95
2           45.83   48.97   46.29
3            6.04    4.14    5.76
Total      100.00  100.00  100.00


--- pDepth vs Event ---
Count:
Event      1    2  Total
pDepth
1       1391  204   1595
2        238   68    306
3         60   18     78
Total   1689  290   1979
Percentage:
Event        1       2   Total
pDepth
1        82.36   70.34   80.60
2        14.09   23.45   15.46
3         3.55    6.21    3.94
Total   100.00  100.00  100.00


--- ly vs Event ---
Count:
Event     1    2  Total
ly
1       715  122    837
2       974  168   1142
Total  1689  290   1979
Percentage:
Event       1       2   Total
ly
1       42.33   42.07   42.29
2       57.67   57.93   57.71
Total  100.00  100.00  100.00


--- v vs Event ---
Count:
Event     1    2  Total
v
1       602   95    697
2      1087  195   1282
Total  1689  290   1979
Percentage:
Event       1       2   Total
v
1       35.64   32.76   35.22
2       64.36   67.24   64.78
Total  100.00  100.00  100.00


--- CEA vs Event ---
Count:
Event     1    2  Total
CEA
1.0    1112  163   1275
2.0     577  127    704
Total  1689  290   1979
Percentage:
Event       1       2   Total
CEA
1.0     65.84   56.21   64.43
2.0     34.16   43.79   35.57
Total  100.00  100.00  100.00


--- LN number vs Event ---
Count:
Event         1    2  Total
LN number
1          1229  204   1433
2           460   86    546
Total      1689  290   1979
Percentage:
Event           1       2   Total
LN number
1           72.76   70.34   72.41
2           27.24   29.66   27.59
Total      100.00  100.00  100.00


--- Event vs Event ---
Count:
Event     1    2  Total
Event
1      1689    0   1689
2         0  290    290
Total  1689  290   1979
Percentage:
Event      1      2   Total
Event
1      100.0    0.0   85.35
2        0.0  100.0   14.65
Total  100.0  100.0  100.00


--- Location vs Event ---
Count:
Event        1    2  Total
Location
1          769  128    897
2          920  162   1082
Total     1689  290   1979
Percentage:
Event          1       2   Total
Location
1          45.53   44.14   45.33
2          54.47   55.86   54.67
Total     100.00  100.00  100.00


--- Obstruction vs Event ---
Count:
Event           1    2  Total
Obstruction
1             698   94    792
2             885  175   1060
99            106   21    127
Total        1689  290   1979
Percentage:
Event             1       2   Total
Obstruction
1             41.33   32.41   40.02
2             52.40   60.34   53.56
99             6.28    7.24    6.42
Total        100.00  100.00  100.00

In [ ]:
# Create a dummy dataframe, df. In practice, you would use your actual data.
# This is just an example.

# Path for the output Excel file
output_path = 'JSCCR cross table.xlsx'

# Use ExcelWriter to write to the file
with pd.ExcelWriter(output_path) as writer:
    for variable in category_variables:
        # Cross table of Event vs category
        cross_tab = pd.crosstab(df[variable], df['Event'], margins=True, margins_name='Total')

        # Calculate percentage
        cross_tab_percentage = cross_tab.div(cross_tab.loc['Total', :], axis=1).round(4) * 100

        # Write count to an Excel sheet
        cross_tab.to_excel(writer, sheet_name=f'{variable} Count')

        # Write percentage to a different Excel sheet
        cross_tab_percentage.to_excel(writer, sheet_name=f'{variable} Percentage')

# If using Google Colab, download the created Excel file
# from google.colab import files
# files.download(output_path)

In [ ]:
category_variables = ['gender', 'age', 'Approach', 'operation', 'Dissection Level',
                      'Pathology', 'pDepth', 'ly', 'v', 'CEA',
                       'LN number', 'Event_caused_specific', 'Location', 'Obstruction']

for variable in category_variables:
    # Event vs  category cross table
    cross_tab = pd.crosstab(df[variable], df['Event_caused_specific'], margins=True, margins_name='Total')

    # percentage
    cross_tab_percentage = cross_tab.div(cross_tab.loc['Total', :], axis=1).round(4) * 100

    # result
    print(f'--- {variable} vs Event_caused_specific ---')
    print('Count:')
    print(cross_tab)
    print('Percentage:')
    print(cross_tab_percentage)
    print('\n')

--- gender vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
gender
1                       788   84    872
2                       964  143   1107
Total                  1752  227   1979
Percentage:
Event_caused_specific       1      2   Total
gender
1                       44.98   37.0   44.06
2                       55.02   63.0   55.94
Total                  100.00  100.0  100.00


--- age vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
age
1                       647   74    721
2                      1105  153   1258
Total                  1752  227   1979
Percentage:
Event_caused_specific       1      2   Total
age
1                       36.93   32.6   36.43
2                       63.07   67.4   63.57
Total                  100.00  100.0  100.00


--- Approach vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
Approach
1                       261   32    293
2                      1416  187   1603
99                       75    8     83
Total                  1752  227   1979
Percentage:
Event_caused_specific       1       2   Total
Approach
1                       14.90   14.10   14.81
2                       80.82   82.38   81.00
99                       4.28    3.52    4.19
Total                  100.00  100.00  100.00


--- operation vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
operation
1                       148   20    168
2                       126   13    139
3                       496   60    556
4                       128   20    148
5                       568   82    650
6                        25    9     34
7                       261   23    284
Total                  1752  227   1979
Percentage:
Event_caused_specific       1       2   Total
operation
1                        8.45    8.81    8.49
2                        7.19    5.73    7.02
3                       28.31   26.43   28.09
4                        7.31    8.81    7.48
5                       32.42   36.12   32.84
6                        1.43    3.96    1.72
7                       14.90   10.13   14.35
Total                  100.00  100.00  100.00


--- Dissection Level vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
Dissection Level
1                      1087  128   1215
2                       549   81    630
3                       116   18    134
Total                  1752  227   1979
Percentage:
Event_caused_specific       1       2   Total
Dissection Level
1                       62.04   56.39   61.39
2                       31.34   35.68   31.83
3                        6.62    7.93    6.77
Total                  100.00  100.00  100.00


--- Pathology vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
Pathology
1                       845  104    949
2                       801  115    916
3                       106    8    114
Total                  1752  227   1979
Percentage:
Event_caused_specific       1       2   Total
Pathology
1                       48.23   45.81   47.95
2                       45.72   50.66   46.29
3                        6.05    3.52    5.76
Total                  100.00  100.00  100.00


--- pDepth vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
pDepth
1                      1442  153   1595
2                       246   60    306
3                        64   14     78
Total                  1752  227   1979
Percentage:
Event_caused_specific       1       2   Total
pDepth
1                       82.31   67.40   80.60
2                       14.04   26.43   15.46
3                        3.65    6.17    3.94
Total                  100.00  100.00  100.00


--- ly vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
ly
1                       737  100    837
2                      1015  127   1142
Total                  1752  227   1979
Percentage:
Event_caused_specific       1       2   Total
ly
1                       42.07   44.05   42.29
2                       57.93   55.95   57.71
Total                  100.00  100.00  100.00


--- v vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
v
1                       621   76    697
2                      1131  151   1282
Total                  1752  227   1979
Percentage:
Event_caused_specific       1       2   Total
v
1                       35.45   33.48   35.22
2                       64.55   66.52   64.78
Total                  100.00  100.00  100.00


--- CEA vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
CEA
1.0                    1150  125   1275
2.0                     602  102    704
Total                  1752  227   1979
Percentage:
Event_caused_specific       1       2   Total
CEA
1.0                     65.64   55.07   64.43
2.0                     34.36   44.93   35.57
Total                  100.00  100.00  100.00


--- LN number vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
LN number
1                      1275  158   1433
2                       477   69    546
Total                  1752  227   1979
Percentage:
Event_caused_specific       1      2   Total
LN number
1                       72.77   69.6   72.41
2                       27.23   30.4   27.59
Total                  100.00  100.0  100.00


--- Event_caused_specific vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
Event_caused_specific
1                      1752    0   1752
2                         0  227    227
Total                  1752  227   1979
Percentage:
Event_caused_specific      1      2   Total
Event_caused_specific
1                      100.0    0.0   88.53
2                        0.0  100.0   11.47
Total                  100.0  100.0  100.00


--- Location vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
Location
1                       797  100    897
2                       955  127   1082
Total                  1752  227   1979
Percentage:
Event_caused_specific       1       2   Total
Location
1                       45.49   44.05   45.33
2                       54.51   55.95   54.67
Total                  100.00  100.00  100.00


--- Obstruction vs Event_caused_specific ---
Count:
Event_caused_specific     1    2  Total
Obstruction
1                       718   74    792
2                       924  136   1060
99                      110   17    127
Total                  1752  227   1979
Percentage:
Event_caused_specific       1       2   Total
Obstruction
1                       40.98   32.60   40.02
2                       52.74   59.91   53.56
99                       6.28    7.49    6.42
Total                  100.00  100.00  100.00

In [ ]:
# Create a dummy dataframe, df. In practice, you would use your actual data.
# This is just an example.

# Path for the output Excel file
output_path = 'JSCCR cross table2.xlsx'

# Use ExcelWriter to write to the file
with pd.ExcelWriter(output_path) as writer:
    for variable in category_variables:
        # Cross table of Event vs category
        cross_tab = pd.crosstab(df[variable], df['Event_caused_specific'], margins=True, margins_name='Total')

        # Calculate percentage
        cross_tab_percentage = cross_tab.div(cross_tab.loc['Total', :], axis=1).round(4) * 100

        # Write count to an Excel sheet
        cross_tab.to_excel(writer, sheet_name=f'{variable} Count')

        # Write percentage to a different Excel sheet
        cross_tab_percentage.to_excel(writer, sheet_name=f'{variable} Percentage')

# If using Google Colab, download the created Excel file
# from google.colab import files
# files.download(output_path)

/usr/local/lib/python3.11/dist-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [ ]:
category_variables = ['gender', 'age', 'Approach', 'operation', 'Dissection Level',
                      'Pathology', 'pDepth', 'ly', 'v', 'CEA',
                       'LN number', 'Event_subdistribution', 'Location', 'Obstruction']

for variable in category_variables:
    # Event vs  category cross table
    cross_tab = pd.crosstab(df[variable], df['Event_subdistribution'], margins=True, margins_name='Total')

    # percentage
    cross_tab_percentage = cross_tab.div(cross_tab.loc['Total', :], axis=1).round(4) * 100

    # result
    print(f'--- {variable} vs Event_subdistribution ---')
    print('Count:')
    print(cross_tab)
    print('Percentage:')
    print(cross_tab_percentage)
    print('\n')

--- gender vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
gender
1                       771   84  17    872
2                       918  143  46   1107
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1      2       3   Total
gender
1                       45.65   37.0   26.98   44.06
2                       54.35   63.0   73.02   55.94
Total                  100.00  100.0  100.00  100.00


--- age vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
age
1                       636   74  11    721
2                      1053  153  52   1258
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1      2       3   Total
age
1                       37.66   32.6   17.46   36.43
2                       62.34   67.4   82.54   63.57
Total                  100.00  100.0  100.00  100.00


--- Approach vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
Approach
1                       255   32   6    293
2                      1360  187  56   1603
99                       74    8   1     83
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1       2       3   Total
Approach
1                       15.10   14.10    9.52   14.81
2                       80.52   82.38   88.89   81.00
99                       4.38    3.52    1.59    4.19
Total                  100.00  100.00  100.00  100.00


--- operation vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
operation
1                       145   20   3    168
2                       121   13   5    139
3                       476   60  20    556
4                       126   20   2    148
5                       547   82  21    650
6                        22    9   3     34
7                       252   23   9    284
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1       2       3   Total
operation
1                        8.58    8.81    4.76    8.49
2                        7.16    5.73    7.94    7.02
3                       28.18   26.43   31.75   28.09
4                        7.46    8.81    3.17    7.48
5                       32.39   36.12   33.33   32.84
6                        1.30    3.96    4.76    1.72
7                       14.92   10.13   14.29   14.35
Total                  100.00  100.00  100.00  100.00


--- Dissection Level vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
Dissection Level
1                      1057  128  30   1215
2                       520   81  29    630
3                       112   18   4    134
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1       2       3   Total
Dissection Level
1                       62.58   56.39   47.62   61.39
2                       30.79   35.68   46.03   31.83
3                        6.63    7.93    6.35    6.77
Total                  100.00  100.00  100.00  100.00


--- Pathology vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
Pathology
1                       813  104  32    949
2                       774  115  27    916
3                       102    8   4    114
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1       2       3   Total
Pathology
1                       48.13   45.81   50.79   47.95
2                       45.83   50.66   42.86   46.29
3                        6.04    3.52    6.35    5.76
Total                  100.00  100.00  100.00  100.00


--- pDepth vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
pDepth
1                      1391  153  51   1595
2                       238   60   8    306
3                        60   14   4     78
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1       2       3   Total
pDepth
1                       82.36   67.40   80.95   80.60
2                       14.09   26.43   12.70   15.46
3                        3.55    6.17    6.35    3.94
Total                  100.00  100.00  100.00  100.00


--- ly vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
ly
1                       715  100  22    837
2                       974  127  41   1142
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1       2       3   Total
ly
1                       42.33   44.05   34.92   42.29
2                       57.67   55.95   65.08   57.71
Total                  100.00  100.00  100.00  100.00


--- v vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
v
1                       602   76  19    697
2                      1087  151  44   1282
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1       2       3   Total
v
1                       35.64   33.48   30.16   35.22
2                       64.36   66.52   69.84   64.78
Total                  100.00  100.00  100.00  100.00


--- CEA vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
CEA
1.0                    1112  125  38   1275
2.0                     577  102  25    704
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1       2       3   Total
CEA
1.0                     65.84   55.07   60.32   64.43
2.0                     34.16   44.93   39.68   35.57
Total                  100.00  100.00  100.00  100.00


--- LN number vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
LN number
1                      1229  158  46   1433
2                       460   69  17    546
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1      2       3   Total
LN number
1                       72.76   69.6   73.02   72.41
2                       27.24   30.4   26.98   27.59
Total                  100.00  100.0  100.00  100.00


--- Event_subdistribution vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
Event_subdistribution
1                      1689    0   0   1689
2                         0  227   0    227
3                         0    0  63     63
Total                  1689  227  63   1979
Percentage:
Event_subdistribution      1      2      3   Total
Event_subdistribution
1                      100.0    0.0    0.0   85.35
2                        0.0  100.0    0.0   11.47
3                        0.0    0.0  100.0    3.18
Total                  100.0  100.0  100.0  100.00


--- Location vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
Location
1                       769  100  28    897
2                       920  127  35   1082
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1       2       3   Total
Location
1                       45.53   44.05   44.44   45.33
2                       54.47   55.95   55.56   54.67
Total                  100.00  100.00  100.00  100.00


--- Obstruction vs Event_subdistribution ---
Count:
Event_subdistribution     1    2   3  Total
Obstruction
1                       698   74  20    792
2                       885  136  39   1060
99                      106   17   4    127
Total                  1689  227  63   1979
Percentage:
Event_subdistribution       1       2       3   Total
Obstruction
1                       41.33   32.60   31.75   40.02
2                       52.40   59.91   61.90   53.56
99                       6.28    7.49    6.35    6.42
Total                  100.00  100.00  100.00  100.00

In [ ]:
# Create a dummy dataframe, df. In practice, you would use your actual data.
# This is just an example.

# Path for the output Excel file
output_path = 'JSCCR cross table3.xlsx'

# Use ExcelWriter to write to the file
with pd.ExcelWriter(output_path) as writer:
    for variable in category_variables:
        # Cross table of Event vs category
        cross_tab = pd.crosstab(df[variable], df['Event_subdistribution'], margins=True, margins_name='Total')

        # Calculate percentage
        cross_tab_percentage = cross_tab.div(cross_tab.loc['Total', :], axis=1).round(4) * 100

        # Write count to an Excel sheet
        cross_tab.to_excel(writer, sheet_name=f'{variable} Count')

        # Write percentage to a different Excel sheet
        cross_tab_percentage.to_excel(writer, sheet_name=f'{variable} Percentage')

# If using Google Colab, download the created Excel file
# from google.colab import files
# files.download(output_path)

/usr/local/lib/python3.11/dist-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")